@{
    ViewData["Title"] = "REST Sync";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Your REST sync profile has been set up.  You should see school data objects populated on your tenant soon.</p>